.cube-container {
	padding: 9px 14px;
    //background-color: #f7f7f9;
    //border: 1px solid #e1e1e8;
    //border-radius: 4px;
}
.cube-container:nth-child(2) {
	//margin-left: 1em;
}
header {
	text-align: center;
}
.container {
	text-align: center;
    margin: 2.5em auto 0;
    display: block;
}
.col-xs-12 .col-md-6 {
	clear: both;
	margin: 0 auto;
	float: left;
}
.row {
	overflow: ;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
  }
  to { 
    -webkit-transform: rotate3d(360, 1080, 540, 720deg);
  }
}
#cube {
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         15s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    -webkit-transform-origin: default;
    margin: 0 auto;
}
body {
	overflow-x: hidden;
}
game {
	position: relative;
	margin: 0 auto;
	text-align: center;
    left: -7%;
}
li {
	list-style-type: none;
}
dd, dl, dt, li {
	line-height: 1.5em;
	display: inline;
	height: 1em;
}