<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<link href="favicon.ico" rel="icon">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/angular-cube.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>rübeCube</title>
</head>
<body>
	<header>
		<h1>rübeCube</h1>
		<h2>Player, choose your cube!</h2>
	</header>
	
	<div class="container-fluid">
		<div class="row container">
			<div ng-app="rubeCube" class="container col-xs-12 col-md-12 cube-container" >
				<!-- <div id="controls__container">
					<div class="controls"></div>
					<div class="controls"></div>
					<div class="controls"></div>
					<div class="controls"></div>
				</div> -->
					
				<div ng-controller="sizeGen">
					<button class="button btn btn-default" id="switch1" ng-click="rotateRight()">Rotate right</button>
					<button class="button btn btn-default" id="switch2" ng-click="rotateForward()">Rotate forward</button>
					<button class="button btn btn-default" ng-click="changeColor();">changeColor</button>
				</div>
				<div id="cube-viewport" ng-controller="sizeGen">
					
					<div id="cube" style="-webkit-transform: rotateX(-5deg) rotateY(5deg)">
					<!-- <div id="cube"> -->
					<!-- TOP FACE -->
						<!-- LEFT COL -->
						<square ng-repeat="row in square_row" class="top_face left_col color1" 				
						ng-class="square_row[$index]" ng-swipe-up="console.log($event)"
						ng-swipe-down="console.log('swipe')" on-swipe-left="swipe($event)" on-swipe-right="swipe($event)">
							{{square_row[$index]}}
						</square>
						
						<!-- MIDDLE COL -->
						<square ng-repeat="row in square_row" class="top_face middle_col color1" 
						ng-class="{'upper': square_row[$index] === 'upper', 
						'center middle': square_row[$index] === 'middle', 
						'lower': square_row[$index] === 'lower'}">
							{{square_row[$index]}}
						</square>

						<!-- RIGHT COL -->
						<square ng-repeat="row in square_row" class="top_face right_col color1" ng-class="square_row[$index]">
							{{square_row[$index]}}
						</square>

					<!-- FRONT FACE -->
						<!-- LEFT COL -->
						<square ng-repeat="row in square_row" class="front_face left_col color2" ng-class="square_row[$index]"
						on-swipe-left="console.log('swipeleft')" on-swipe-down="onDragDown()" >
							{{square_row[$index]}}
						</square>
						
						<!-- MIDDLE COL -->
						<square ng-repeat="row in square_row" class="front_face middle_col color2" 
						ng-class="{'upper': square_row[$index] === 'upper', 
						'center middle': square_row[$index] === 'middle', 
						'lower': square_row[$index] === 'lower'}" ng-swipe-up="console.log($event)"
						ng-swipe-down="console.log('swipe')">
							{{square_row[$index]}}
						</square>
						
						<!-- RIGHT COL -->
						<square ng-repeat="row in square_row" class="front_face right_col color2" ng-class="square_row[$index]">
							{{square_row[$index]}}
						</square>

					<!-- DOWN FACE (lower & bottom would --> 
						<!-- LEFT COL -->
						<square ng-repeat="row in square_row" class="bottom_face left_col color3" ng-class="square_row[$index]">
							{{square_row[$index]}}
						</square>
						
						<!-- MIDDLE COL -->
						<square ng-repeat="row in square_row" class="bottom_face middle_col color3" 
						ng-class="{'upper': square_row[$index] === 'upper', 
						'center middle': square_row[$index] === 'middle', 
						'lower': square_row[$index] === 'lower'}">
							{{square_row[$index]}}
						</square>
						
						<!-- RIGHT COL -->
						<square ng-repeat="row in square_row" class="bottom_face right_col color3" ng-class="square_row[$index]">
							{{square_row[$index]}}
						</square>

					<!-- BACK FACE -->
						<!-- LEFT COL -->
						<square ng-repeat="row in square_row" class="back_face left_col color4" ng-class="square_row[$index]">
							{{square_row[$index]}}
						</square>
						
						<!-- MIDDLE COL -->
						<square ng-repeat="row in square_row" class="back_face middle_col color4" 
						ng-class="{'upper': square_row[$index] === 'upper', 
						'center middle': square_row[$index] === 'middle', 
						'lower': square_row[$index] === 'lower'}">
							{{square_row[$index]}}
						</square>
						
						<!-- RIGHT COL -->
						<square ng-repeat="row in square_row" class="back_face right_col color4" ng-class="square_row[$index]">
							{{square_row[$index]}}
						</square>

					<!--LEFT FACE -->
						<!-- LEFT COL -->
						<square ng-repeat="row in square_row" class="left_face left_col color5" ng-class="square_row[$index]">
							{{square_row[$index]}}
						</square>
						
						<!-- MIDDLE COL -->
						<square ng-repeat="row in square_row" class="left_face middle_col color5" 
						ng-class="{'upper': square_row[$index] === 'upper', 
						'center middle': square_row[$index] === 'middle', 
						'lower': square_row[$index] === 'lower'}">
							{{square_row[$index]}}
						</square>
						
						<!-- RIGHT COL -->
						<square ng-repeat="row in square_row" class="left_face right_col color5" ng-class="square_row[$index]">
							{{square_row[$index]}}
						</square>

					<!-- RIGHT FACE -->
						<!-- LEFT COL -->
						<square ng-repeat="row in square_row" class="right_face left_col color6" ng-class="square_row[$index]">
							{{square_row[$index]}}
						</square>
						
						<!-- MIDDLE COL -->
						<square ng-repeat="row in square_row" class="right_face middle_col color6" 
						ng-class="{'upper': square_row[$index] === 'upper', 
						'center middle': square_row[$index] === 'middle', 
						'lower': square_row[$index] === 'lower'}">
							{{square_row[$index]}}
						</square>
						
						<!-- RIGHT COL -->
						<square ng-repeat="row in square_row" class="right_face right_col color6" ng-class="square_row[$index]">
							{{square_row[$index]}}
						</square>
					</div><!--cube-->
				</div><!--cube viewport-->
				<script src="https://code.ionicframework.com/1.1.1/js/ionic.bundle.min.js"></script>
				<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
				<script src="js/angular-cube.js"></script>
				<script src="three-cube/cube.js"></script>
				<!--<script src="/js/swipe.js"></script>-->
				<dd>
					<dl><dt class="vanilla">Vanilla</dt> - <dd>created with HTML5 & Angular</dd></dl>
					<br />
					<span class="error">Currently not interactive</span>
				</dd>
			</div><!--ng-app=rubeCube-->
			
			<div class="container col-xs-12 col-md-12 cube-container">
				<game>
				</game>
				<button class="button btn btn-default" onclick="newCube();">new cube</button>
				<button class="button btn btn-default" onclick="scramble();">scramble</button>
				<ul>
					<li><dl><dt>f</dt>-<dd>front</dd></li>
					<li><dl><dt>b</dt>-<dd>back</dd></li>
					<li><dl><dt>l</dt>-<dd>left</dd></li>
					<li><dl><dt>r</dt>-<dd>right</dd></li>
					<li><dl><dt>u</dt>-<dd>up</dd></li>
					<li><dl><dt>d</dt>-<dd>down</dd></li>
					<li><dl><dt>shift</dt>-<dd>reverse</dd></li>
					<!--<li><dl><dt>c</dt>-<dd>center</dd></li>
					<li><dl><dt>m</dt>-<dd>middle</dd></li>-->
				</ul>
				<dl>
					<dd>You may use </dd>
					<dt>
						<code>
							<i class="glyphicon glyphicon-arrow-left" aria-hidden="true"></i>
							<sup><i class="glyphicon glyphicon-arrow-up" aria-hidden="true"></i></sup>
							<i class="glyphicon glyphicon-arrow-right" aria-hidden="true"></i>
						</code>
					</dt>					
					and mouse to pan
				</dl>
				<br />	
				<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r58/three.min.js"></script>
				<script src="js/OrbitControls.js"></script>	
				<dl><dt class="flavor-of-week">Flavor of the Week</dt> - <dd>created with Three.js</dd></dl>
			</div><!--three-cube-->
		</div><!--row-->
		<footer>
			<dl class="author">
				<dd>by</dd> <dt><a href="https://github.com/Jabari/rubeCube" target="_blank">jabari martin</a></dt>
			</dl>
		</footer>
	</div>
	
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>