<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body ng-app="rubeCube" ng-controller="sizeGen">
		<div id="controls">
			<h1>A rubik's cube generator</h1>
			<div id="size_gen">
				<button ng-click="dec()" class="button round">-</button>
				{{size}}
				<button ng-click="inc()" class="button round">+</button>				
			</div>
			<div ng-controller="colorGen" id="">
				<button class="button" ng-click="randomRGB()">Change color</button>
			</div>
		</div>
		<div id="cube-viewport">
			<div id="cube" style="-webkit-transform: rotateX(340deg) rotateY(30deg)">
			<!-- TOP FACE -->
				<!-- LEFT COL -->
				<square ng-repeat="row in square_row" class="top_face left_col" ng-style="{'background': colorArr[i]}"
				ng-class="square_row[$index]">
					{{square_row[$index]}}
				</square>
				
				<!-- MIDDLE COL -->
				<square ng-repeat="row in square_row" class="top_face middle_col" 
				ng-class="{'upper': square_row[$index] === 'upper', 
				'center middle': square_row[$index] === 'middle', 
				'lower': square_row[$index] === 'lower'}">
					{{square_row[$index]}}
				</square>
				<!-- {class1 : expression1, class2 : expression2}
				'foo' : someOtherVar === 'bar'
				{'bar': someVar === 'bar', 'foo': someOtherVar === 'foo'}
				{'class1 class2' : expression1}
				<!-- RIGHT COL -->
				<square ng-repeat="row in square_row" class="top_face right_col" ng-class="square_row[$index]">
					{{square_row[$index]}}
				</square>

			<!-- FRONT FACE -->
				<!-- LEFT COL -->
				<square ng-repeat="row in square_row" class="front_face left_col" ng-class="square_row[$index]">
					{{square_row[$index]}}
				</square>
				
				<!-- MIDDLE COL -->
				<square ng-repeat="row in square_row" class="front_face middle_col" 
				ng-class="{'upper': square_row[$index] === 'upper', 
				'center middle': square_row[$index] === 'middle', 
				'lower': square_row[$index] === 'lower'}">
					{{square_row[$index]}}
				</square>
				
				<!-- RIGHT COL -->
				<square ng-repeat="row in square_row" class="front_face right_col" ng-class="square_row[$index]">
					{{square_row[$index]}}
				</square>

			<!-- DOWN FACE (lower & bottom would --> 
				<!-- LEFT COL -->
				<square ng-repeat="row in square_row" class="bottom_face left_col" ng-class="square_row[$index]">
					{{square_row[$index]}}
				</square>
				
				<!-- MIDDLE COL -->
				<square ng-repeat="row in square_row" class="bottom_face middle_col" 
				ng-class="{'upper': square_row[$index] === 'upper', 
				'center middle': square_row[$index] === 'middle', 
				'lower': square_row[$index] === 'lower'}">
					{{square_row[$index]}}
				</square>
				
				<!-- RIGHT COL -->
				<square ng-repeat="row in square_row" class="bottom_face right_col" ng-class="square_row[$index]">
					{{square_row[$index]}}
				</square>

			<!-- BACK FACE -->
				<!-- LEFT COL -->
				<square ng-repeat="row in square_row" class="back_face left_col" ng-class="square_row[$index]">
					{{square_row[$index]}}
				</square>
				
				<!-- MIDDLE COL -->
				<square ng-repeat="row in square_row" class="back_face middle_col" 
				ng-class="{'upper': square_row[$index] === 'upper', 
				'center middle': square_row[$index] === 'middle', 
				'lower': square_row[$index] === 'lower'}">
					{{square_row[$index]}}
				</square>
				
				<!-- RIGHT COL -->
				<square ng-repeat="row in square_row" class="back_face right_col" ng-class="square_row[$index]">
					{{square_row[$index]}}
				</square>

			<!--LEFT FACE -->
				<!-- LEFT COL -->
				<square ng-repeat="row in square_row" class="left_face left_col" ng-class="square_row[$index]">
					{{square_row[$index]}}
				</square>
				
				<!-- MIDDLE COL -->
				<square ng-repeat="row in square_row" class="left_face middle_col" 
				ng-class="{'upper': square_row[$index] === 'upper', 
				'center middle': square_row[$index] === 'middle', 
				'lower': square_row[$index] === 'lower'}">
					{{square_row[$index]}}
				</square>
				
				<!-- RIGHT COL -->
				<square ng-repeat="row in square_row" class="left_face right_col" ng-class="square_row[$index]">
					{{square_row[$index]}}
				</square>

			<!-- RIGHT FACE -->
				<!-- LEFT COL -->
				<square ng-repeat="row in square_row" class="right_face left_col" ng-class="square_row[$index]">
					{{square_row[$index]}}
				</square>
				
				<!-- MIDDLE COL -->
				<square ng-repeat="row in square_row" class="right_face middle_col" 
				ng-class="{'upper': square_row[$index] === 'upper', 
				'center middle': square_row[$index] === 'middle', 
				'lower': square_row[$index] === 'lower'}">
					{{square_row[$index]}}
				</square>
				
				<!-- RIGHT COL -->
				<square ng-repeat="row in square_row" class="right_face right_col" ng-class="square_row[$index]">
					{{square_row[$index]}}
				</square>

			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
		<script src="script.js"></script>
	</body>
</html>
