$red: random(255);
$blue: random(255);
$green: random(255);
$random_color: rgb($red, $blue, $green) !default;
h1 {
  background: complement($random_color);
  color: $random_color;
  border: none;
  height: 2.5em;
  padding: 2em 1em;
  text-align: center;
}
#background {
  background: $random_color;
  height: 400px;
  width: 100%;
}
body {
	font-family: 'inconsolata', sans-serif;
	font-size: 14px;
}
.button {
	background: #999;
	color: #fff;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	border: none;
	font-weight: bold;
	font-size: 100%;
	&:active {
		background: darken(random_color);
	}
}
#size_gen {
	color: #999;
	font-size: 140%;
}


